* {
    padding: 0;
    margin: 0;
}

body {
    background: url("./images/pg.jpg") no-repeat center center fixed;
    background-size: cover;
}

h1 {
    position: absolute;
    top: 48vh;
    left: 1vw;
    font-size: 3rem;
    font-weight: bolder;
    background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(237, 9, 142));
    -webkit-background-clip:text;
    color: transparent;
}

h2 {
    position: absolute;
    top: 56vh;
    left: 1vw;
    font-size: 2rem;
    font-weight: bolder;
    background: linear-gradient(to bottom right, rgb(13, 211, 242), rgb(255, 100, 192));
    -webkit-background-clip: text;
    color: transparent;
}

#game {
    width: 400px;
    height: 500px;
    border: 3px solid black;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    position: absolute;
    top: 20vh;
    left: 35vw;
    overflow: hidden;
    background-color: rgba(254, 254, 254, 0.07);
}

#character {
    width: 20px;
    height: 20px;
    background-color: rgb(147, 160, 160);
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
    top: 400px;
    left: 190px;
    z-index: 1000000;
}

.block {
    width: 400px;
    height: 20px;
    background-color: black;
    position: relative;
    top: 100px;
    margin-top: -20px;
    background: linear-gradient(to bottom right, rgb(13, 211, 242), rgb(255, 100, 192));
    -webkit-background-clip: border-box;
    color: transparent;
}

.hole {
    width: 40px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    top: 100px;
    margin-top: -20px;
}